@font-face {
    font-family: 'Share';
    src: url('../fonts/share-regular-webfont.eot');
    src: url('../fonts/share-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/share-regular-webfont.woff') format('woff'), url('../fonts/share-regular-webfont.ttf') format('truetype'), url('../fonts/share-regular-webfont.svg#Share-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a { text-decoration: underline; }
a,a:visited, a:link  {
    color: #2b6e9a;
}
a:hover,
a:focus {}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

[id=layout] {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline,
.brand-avatar {
    margin: 0;
}
.brand-avatar {
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 0.5em;
    -moz-box-shadow: 0px 0px 10px 2px #FFF;
    -webkit-box-shadow: 0px 0px 10px 2px #FFF;
    -o-box-shadow: 0px 0px 10px 2px #FFF;
    box-shadow: 0px 0px 10px 2px #FFF;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#FFF, Direction=NaN, Strength=10);
}
.brand-title {
    font-family: Share,FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}
.brand-tagline {
    font-family: Share,FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: rgb(176, 202, 219);
    margin-bottom: 0.5em;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 0.75em;
}
.nav-item a:hover,
.nav-item a:focus {
    color: rgb(61, 79, 93);
    background-color: rgb(176, 202, 219);
    border-color: rgb(61, 79, 93);
    text-decoration: underline;
}

.content-subhead {
    text-transform: uppercase;
    color: rgb(61, 79, 93);
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-family: Share,FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #222;
    line-height: 1.8em;
}
.post-meta {
    color: #555555;
    font-size: 0.875em;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #555555;
    font-size: 80%;
}
.post-category-php {
    background: #4F5B93;
}
.post-category-cli {
    background: #000;
}
.post-category-typo3 {
    background: #f58006;
}
.post-category-js {
    background: #df2d4f;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.post-footer {font-size: 0.875em;}
.post-rel {
    margin: 0;
    padding: 0;
    list-style: none;
    word-spacing: 0;
}
.post-rel-item {
    word-spacing: normal;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left: 0.25em;
    padding-left: 0.5em;
    border-left: 1px solid #000;
}
    .post-rel-item:first-child {
        margin-left:0;
        padding-left: 0;
        border: none;
    }
.post-rel a {
    background: transparent;
    margin-top: 1em;
    font-size: 1em;
    text-decoration: underline;
}
.post-rel a:hover,
.post-rel a:focus {
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .header {
        margin: 33vh 2em 0;
        text-align: right;
    }
}